<li class="hassubs">
    <a href="#">Categories</a>
    <ul>
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Phone" asp-action="List"
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a asp-controller="Phone" asp-action="List" asp-route-category="">All Phones</a>
        </li>
    </ul>
</li>