
@using MobileStore.Data.Models;

@model IEnumerable<Phone>
<div class="super_container">

    <!-- Home -->

    <div class="home">
        <div class="home_slider_container">

            <!-- Home Slider -->
            <div class="owl-carousel owl-theme home_slider">

                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(../images/slider1.jpg)"></div>
                    <div class="home_slider_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                        <div class="home_slider_title"style="color:#33304d;">The real smart phone world!</div>
                                        <div class="home_slider_subtitle" style="color:#33304d;">
                                            Come and get it now.
                                        </div>
                                        <div class="button button_light home_button" style="color:#33304d;"><a href="#">Shop Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(../images/slider2.jpeg)"></div>
                    <div class="home_slider_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                        <div class="home_slider_title">Brilliant. In every way</div>
                                        <div class="home_slider_subtitle">
                                            Hello world!
                                        </div>
                                        <div class="button button_light home_button"><a href="#">Shop Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(../images/slider3.jpg)"></div>
                    <div class="home_slider_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                        <div class="home_slider_title" style="color:#33304d;">So smart and comfort</div>
                                        <div class="home_slider_subtitle" style="color:#33304d;">
                                            Come and get it now.
                                        </div>
                                        <div class="button button_light home_button" style="color:#33304d;"><a href="#">Shop Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image:url(../images/slider4.jpg)"></div>
                    <div class="home_slider_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                        <div class="home_slider_title" style="color:#33304d;">Profestional</div>
                                        <div class="home_slider_subtitle" style="color:#33304d;">
                                            Technology in your hand!
                                        </div>
                                        <div class="button button_light home_button" style="color:#33304d;"><a href="#">Shop Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Home Slider Dots -->

            <div class="home_slider_dots_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_slider_dots">
                                <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                                    <li class="home_slider_custom_dot active">01.</li>
                                    <li class="home_slider_custom_dot">02.</li>
                                    <li class="home_slider_custom_dot">03.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Ads -->

    <div class="avds">
        <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
            <div class="avds_small">
                <div class="avds_background" style="background-image:url(/images/iphone-banner.jpeg)"></div>
                <div class="avds_small_inner">
                    <div class="avds_discount_container">
                        <img src="images/discount.png" alt="">
                        <div>
                            <div class="avds_discount">
                                <div>20<span>%</span></div>
                                <div>Discount</div>
                            </div>
                        </div>
                    </div>
                    <div class="avds_small_content">
                        <div class="avds_title">Smart Phones</div>
                        <div class="avds_link"><a asp-controller="Phone" asp-action="List" asp-route-category="">See More</a></div>
                    </div>
                </div>
            </div>
            <div class="avds_large">
                <div class="avds_background" style="background-image:url(/images/iphone-camera.jpg)"></div>
                <div class="avds_large_container">
                    <div class="avds_large_content">
                        <div class="avds_title">Professional Cameras</div>
                        <div class="avds_text">
                            <p style="color: white;">- Dual 12MP rear cameras</p>
                            <p style="color: white;">- 4K video</p>
                            <small>up to 60 fps</small>
                        </div>
                        <div class="avds_link avds_link_large"><a asp-controller="Phone" asp-action="List" asp-route-category="">See More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->

    <div class="products">
        <div class="container">
            <hr />
            <h3>New Products</h3>
            <div class="row">
                <div class="col">
                    <div class="product_grid">

                        @{
                            int i = 0; 
                            foreach(Phone phone in Model)
                            {
                                
                                if (phone.ShortDescription == "New" )
                                {                                                             
                                    @Html.Partial("PhonesSummary", phone)
                                    i++;
                                }
                                if (i == 8)
                                { break; }

                            }
                            }

                    </div>
                </div>
            </div>
            <div class="see-more d-flex justify-content-center">
                <button class="btn btn-warning"><a asp-controller="Phone" asp-action="List" asp-route-category="">See more</a></button>
            </div>
            <hr />
            <h3>Sale Products</h3>
            <div class="row">
                <div class="col">
                    <div class="product_grid">
                        @{
                            int j = 0;
                            foreach (Phone phone in Model)
                            {
                                <!-- Product -->                                
                                @Html.Partial("PhonesSummary", phone)                                
                                j++;
                                if (j == 12)
                                { break; }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="see-more d-flex justify-content-center">
                <button class="btn btn-warning"><a asp-controller="Phone" asp-action="List" asp-route-category="">See more</a></button>
            </div>
        </div>
    </div>

    <!-- Ad -->

    <div class="avds_xl mt-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="avds_xl_container clearfix">
                        <div class="avds_xl_background" style="background-image:url(/images/banner5.jpeg)"></div>
                        <div class="avds_xl_content">
                            <div class="avds_title">Amazing Devices</div>
                            <div class="avds_text">Come with us. Let's we bring to you the best things.</div>
                            <div class="avds_link avds_xl_link"><a href="categories.html">See More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Icon Boxes -->

    <div class="icon_boxes">
        <div class="container">
            <div class="row icon_box_row">

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box">
                        <div class="icon_box_image"><img src="images/icon_1.svg" alt=""></div>
                        <div class="icon_box_title">Free Shipping Worldwide</div>
                        <div class="icon_box_text">
                            <p>While feedback is intended as an open forum, we have guidelines and policies to ensure it's used constructively and fairly.</p>
                        </div>
                    </div>
                </div>

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box">
                        <div class="icon_box_image"><img src="images/icon_2.svg" alt=""></div>
                        <div class="icon_box_title">Free Returns</div>
                        <div class="icon_box_text">
                            <p>When you buy on Mobile Store, in most cases, we guarantee that you'll get your item or your money back.</p>
                        </div>
                    </div>
                </div>

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box">
                        <div class="icon_box_image"><img src="images/icon_3.svg" alt=""></div>
                        <div class="icon_box_title">24h Fast Support</div>
                        <div class="icon_box_text">
                            <p>If you have any questions. Feel free to tell us. We always willing support you with any problems.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Newsletter -->

    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="newsletter_border"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="newsletter_content text-center">
                        <div class="newsletter_title">Subscribe to our newsletter</div>
                        <div class="newsletter_text"><p>We collect and use your personal information to allow us to provide services and features to meet your needs, and to customize and improve our services to make your experience more secure and convenient</p></div>
                        <div class="newsletter_form_container">
                            <form action="#" id="newsletter_form" class="newsletter_form">
                                <input type="email" class="newsletter_input" required="required">
                                <button class="newsletter_button trans_200"><span>Subscribe</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>