MobileStore/.vs/MobileStore
MobileStore/.vs/config/applicationhost.config
MobileStore/MobileStore/MobileStore.csproj
MobileStore/MobileStore/bin/Debug/netcoreapp2.1
MobileStore/MobileStore/obj/Debug/netcoreapp2.1
