@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (ViewBag.Status==true)
    {
        <form asp-area="Identity" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
            <div class="dropdown login" style="margin-left: 190px">
                <a style="color: #767676; cursor: pointer;" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @ViewBag.username
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </div>
            </div>
        </form>
    }
 else
    {
        <div class="login" style="margin-left: 190px">
            <a asp-controller="Account" asp-action="Login">Log in</a>&nbsp;|
            <a asp-controller="Account" asp-action="Register">Register</a>
        </div>
    }