@model Phone 

<div class="product">
    <div class="product_image"><img src="@Model.ImageUrl" alt=""></div>
    <div class="product_extra product_new"><a href="categories.html">@Model.ShortDescription</a></div>
    <div class="product_content text-center">
        <div class="product_title"><a href="product.html">@Model.Name</a></div>
        <div class="product_price" style="color: red;">@Model.Price.ToString("c")</div>
        <button class="btn btn-success mt-3">Add to cart</button>
    </div>
</div>