@model CheckoutViewModel

<!--Checkout-->
<link rel="stylesheet" type="text/css" href="~/style/checkout.css">
<link rel="stylesheet" type="text/css" href="~/style/checkout_responsive.css">
<div class="super_container">
    <!-- Home -->

    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(../images/cart.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="/ShoppingCart/Index">Shopping Cart</a></li>
                                        <li>Checkout</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Checkout -->

    <div class="checkout">
        <div class="container">
            <div class="row">

                <!-- Billing Info -->
                <div class="col-lg-6">
                    <div class="billing checkout_section">
                        <div class="section_title">Billing Address</div>
                        <div class="section_subtitle">Enter your address info</div>
                        <div class="checkout_form_container">
                            <form asp-action="Checkout"  method="post" id="checkout_form" class="checkout_form">
                                <div class="row">
                                    <div class="col-xl-6 last_name_col">
                                        <!-- Last Name -->
                                        <label asp-for="Order.AddressLine1">Last Name*</label>
                                        <input type="text" asp-for="Order.LastName" id="checkout_last_name" class="checkout_input" required="required">
                                        <span asp-validation-for="Order.LastName" class="text-danger"></span>
                                    </div>
                                    <div class="col-xl-6">
                                        <!-- Name -->
                                        <label asp-for="Order.FirstName">First Name*</label>
                                        <input type="text" asp-for="Order.FirstName" id="checkout_name" class="checkout_input" required="required">
                                        <span asp-validation-for="Order.FirstName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div>
                                    <!-- Address -->
                                    <label asp-for="Order.AddressLine1">Address 1*</label>
                                    <input asp-for="Order.AddressLine1" type="text" id="checkout_address" class="checkout_input" required="required">
                                    <span asp-validation-for="Order.AddressLine1" class="text-danger"></span>
                                </div>
                                <div>
                                    <label asp-for="Order.AddressLine2">Address 2*</label>
                                    <input asp-for="Order.AddressLine2" type="text" id="checkout_address_2" class="checkout_input" required="required">
                                    <span asp-validation-for="Order.AddressLine2" class="text-danger"></span>
                                </div>                               
                                <div>
                                    <!-- State -->
                                    <label asp-for="Order.State">State</label>
                                    <input asp-for="Order.State" type="text" id="checkout_company" class="checkout_input">
                                    <span asp-validation-for="Order.State" class="text-danger"></span>
                                </div>
                                <div>
                                    <!-- Country -->
                                    <label asp-for="Order.Country">Country*</label>                                    
                                    <select asp-for="Order.Country" name="checkout_country" id="checkout_country" class="dropdown_item_select checkout_input" require="required">
                                        <option selected="selected">VietNam</option>
                                        <option>US</option>
                                        <option>UK</option>
                                        <option>China</option>
                                    </select>                                   
                                </div>

                                <div>
                                    <!-- Zipcode -->
                                    <label asp-for="Order.ZipCode">Zipcode*</label>
                                    <input asp-for="Order.ZipCode" type="text" id="checkout_zipcode" class="checkout_input" required="required">
                                    <span asp-validation-for="Order.ZipCode" class="text-danger"></span>
                                </div>
                                                        
                                <div>
                                    <!-- Phone no -->
                                    <label asp-for="Order.PhoneNumber">Phone no*</label>
                                    <input asp-for="Order.PhoneNumber" type="phone" id="checkout_phone" class="checkout_input" required="required">
                                    <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div>
                                    <!-- Email -->
                                    <label asp-for="Order.Email">Email Address*</label>
                                    <input asp-for="Order.Email" type="email" id="checkout_email" class="checkout_input" required="required">
                                    <span asp-validation-for="Order.Email" class="text-danger"></span>
                                </div>  
                                <div class="form-group">
                                    <input class="button order_button" type="submit" value="Place Order"/>                                    
                                    @*<input class="btn btn-success"  />*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Order Info -->

                <div class="col-lg-6">
                    <div class="order checkout_section">
                        <div class="section_title">Your order</div>
                        <div class="section_subtitle">Order details</div>
                  
                        <!-- Order details -->
                        <div class="order_list_container">
                            <div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
                                <div class="order_list_title">Product</div>
                                <div class="order_list_value ml-auto">Total</div>
                            </div>
                            <ul class="order_list">
                                @foreach(var line in Model.ShoppingCart.ShoppingCartItems)
                                {
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="order_list_title">@line.Phone.Name</div>
                                        <div class="order_list_value ml-auto">@((line.Phone.Price * line.Amount).ToString("c")) ( @line.Amount )</div>
                                    </li>
                                }
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title">Subtotal</div>
                                    <div class="order_list_value ml-auto">@Model.ShoppingCartTotal.ToString("c")</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title">Shipping</div>
                                    <div class="order_list_value ml-auto">Free</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title">Total</div>
                                    <div class="order_list_value ml-auto"><@Model.ShoppingCartTotal.ToString("c")</div>
                                </li>
                            </ul>
                        </div>

                        <!-- Payment Options -->
                        <div class="payment">
                            <div class="payment_options">
                                <label class="payment_option clearfix">
                                    Paypal
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="payment_option clearfix">
                                    Cach on delivery
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="payment_option clearfix">
                                    Credit card
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="payment_option clearfix">
                                    Direct bank transfer
                                    <input type="radio" checked="checked" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <!-- Order Text -->                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
